// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$root-blue: rgb(50, 159, 255);
$root-gray: rgb(128, 120, 120);
$dark-gray: rgb(86, 86, 86);
$pale-gray: rgb(240, 240, 240);
$pale-blue: rgb(209, 210, 235);
$pale-white: rgb(236, 237, 255);
$root-green: rgb(0, 123, 41);

